body {
    background: #222;
}

.radarcircle {
    fill: #222;
    --scanPeriod: 5s;
}

.radarcircle .outterline {
    stroke: #afa;
}

.radarcircle .innerline {
    stroke: rgb(255, 170, 184);
}

.radar .ghostsContainer {
    list-style: none;
}

.radar .ghostsContainer svg {
    -webkit-animation: target var(--radar-scan-period) infinite linear;
    animation: target var(--radar-scan-period) infinite linear;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    display: block;
    position: absolute;
    width: 10%;
    height: 10%;

}

@-webkit-keyframes target {
    1% {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
        opacity: 0.5;
        transform: scale(2.5);
    }
    3% {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        transform: scale(1.5);
    }
    60% {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        transform: scale(0.6);
    }
}

@keyframes target {
    1% {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
        opacity: 0.5;
        transform: scale(2.5);
    }
    3% {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        transform: scale(1.5);
    }
    60% {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        transform: scale(0.6);
    }
}